%h1 Listing feeds

= render 'form'

%table
  %tr
    %th Url

  - @feeds.each do |feed|
    %tr
      %td= feed.url
      %td= link_to 'Fetch', fetch_feed_path(feed)
      %td= link_to 'Delete', feed, confirm: 'Are you sure?', method: :delete