#recent_episodes
  %h1 News
  %ul.unstyled
    - @entries.each do |entry|
      %li
        %h2= link_to entry.name.html_safe, entry.url
        %p= entry.content.nil? ? entry.summary.html_safe : entry.content.html_safe