// Place all the styles related to the Keywords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_keyword {
  .inputs {
    width: 650px;
    float: left;
    
    .input {
      margin-left: 60px;
    }
    
    label {
      width: 50px;
    }
  }
  .actions {
    background-color: white;
    border-top: 0;
  }
}
